@font-face {
    font-family: Montserrat-Hairline;
    src: url(fonts/Montserrat-Hairline.otf);
}

@font-face {
    font-family: Montserrat-Light;
    src: url(fonts/Montserrat-Light.otf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(fonts/Montserrat-Regular.otf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(fonts/Montserrat-Bold.otf);
}

@font-face {
    font-family: Montserrat-Black;
    src: url(fonts/Montserrat-Black.otf);
}

body {
    margin: 0;
    background-color: #e2e2e2;
    background-image: url("pixel_weave.png");
    font-family: "Montserrat-Light", sans-serif;
    letter-spacing: -0.5px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#container {
    width: 40%;
    margin: 0 auto;
    background-color: #2f2f2f;
    min-height: 100vh;
    padding-bottom: 50px;
}

#logo {
    width: 60%;
    margin: 0 auto;
    padding-top: 20px;
}

#logo img {
    width: 100%;
}

#meetups {
    display: block;
    width: 60%;
    margin: 0 auto;
}

#splash {
    background: url(images/waterloo.jpg);
    background-size: 200%;
    background-attachment: fixed;
    background-position: center;
    height: 800px;
    margin-top: -15px;
    color: #2f2f2f;
        padding-top: 200px;
}

#splash h1 {
    font-family: "Montserrat-Black", sans-serif;
    text-align: center;
    color: #2f2f2f;
}

.l1 {
    font-size: 110px;
    padding-top: 50px;
}

.l2 {
    font-weight: normal;
    font-family: "Montserrat-Hairline", sans-serif;
    font-size: 42px;
    margin-top: -110px;
    text-align: center;
}

.l3 {
    font-size: 190px;
    margin-top: -110px;
}

.line {
    letter-spacing: -3.5px;
}

#desc {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 0px;
    color: #2f2f2f;
        font-size: 32px;
}

#desc b {
    font-family: "Montserrat-Regular", sans-serif;
}

h2 {
    margin: 0 auto;
    margin-top: -10px;
    font-size: 15px;
    color: #e2e2e2;
    text-align: center;
    font-family: "Montserrat-Light", sans-serif;
    background-color: #2f2f2f;
    width: 120px
}

.line2 {
    background-color: #e2e2e2;
    width: 80%;
    height: 2px;
    margin: 0 auto;
    margin-top: 40px;
}

.signin_button, .g-signin2 {
    margin-top: 20px;
    width: 35%;
    text-align: center;
    text-decoration: none;
    color: #e2e2e2;
    padding-top: 6px;   
    padding-bottom: 6px;
    background-repeat: no-repeat;
    background-size: 31px;
}

.signin_button img, .g-signin2 img {
    left: 0;
    height: 100%;
}

#facebook {
    float: left;
    margin-left: 10%;
    background-color: #3b5999;
    background-image: url("images/f_icon.png");
    border: none;
    font-family: "Montserrat-Light", sans-serif;
    font-size: 15px;
    cursor: pointer;
}

#facebook:focus {
    outline: 0 !important;
}

#facebook:hover {
    background-color: #384e7e;
}

#google {
    float: right;
    margin-right: 10%;
    background-color: #df4b38;
    background-image: url("images/g_icon.png");
}

#google:hover {
    background-color: #b34436;
}

#my-signin2 {
     width: 35%;
     margin-right: 10%;
     overflow: hidden;
     float: right;
     padding: 0;
}

.abcRioButtonContentWrapper, .abcRioButtonIcon, .abcRioButtonContents {
   display: none;
}

.abcRioButtonRed {
   width: 100% !important;
   border: none !important;
   border-radius: 0 !important;
   -moz-transition: none !important;
   -webkit-transition: none !important;
   -o-transition: color 0 ease-in !important;
   transition: none !important;
   background-color: #dd4b39 !important;
   background-image: url("images/g_icon.png") !important;
   background-repeat: no-repeat !important;
   background-size: 31px !important;
}

.abcRioButtonContentWrapper, .abcRioButton, .abcRioButtonRed {
   -moz-transition: none !important;
   -webkit-transition: none !important;
   -o-transition: color 0 ease-in !important;
   transition: none !important;
}

.abcRioButtonRed:hover {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    background-color: #b34436 !important;
}

.google_text {
    color: #e2e2e2;
    text-align: center;
    width: 100% !important;
    float: right;
    position: relative;
    margin-right: 10% !important;
    margin-top: -25px !important;
    pointer-events: none;
    font-size: 15px;
}

#upload {
    width: 100%;
    margin-top: 10px;
    background-color: #e1c83d;
    color: #2f2f2f;
    border: none;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 15px;
    cursor: pointer;
}

#upload:focus {
    outline: 0 !important;
}

#upload:hover {
    background-color: #a3912d;
}

#form {
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}

#schedule {
    width: 96%;
    padding: 2%;
    border: none;
    height: 250px;
    background-color: #e2e2e2;
    color: #2f2f2f;
    resize: none;
}

#main {
   width: 80%;
   color: #e2e2e2;
   font-size: 14px;
   margin: 0 auto;
   margin-top: 20px;
}

#main a {
   color: #e1c83d;
}

#upload_schedule {
       width: 160px;
}

.add_friend {
    width: 80%;
    margin: 0 auto;
    margin-left: 10%;
    margin-top: 10px;
    height: 40px;
    background-color: #e2e2e2;
    display: inline-block;
}

.add_friend p {
    margin: 0;
    float: left;
    padding: 10px;

}

.add_button {
    background-color: #e1c83d;
    width: 40px;
    height: 40px;
    font-family: "Montserrat-Black", sans-serif;
    font-size: 36px;
    text-align: center;
    line-height: 93%;
    float: left;
    margin-top: -40px;
    cursor: pointer;
    cursor: hand;

}

.ui-autocomplete-input {
    height: 40px;
    padding: 0;
    border: none;
    width: 100%;
    display: inline-block;
    float: left;
    padding: 10px;
    padding-left: 50px;
    box-sizing: border-box;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 15px;
    color: #2f2f2f;
    background-color: #e2e2e2;
}

*:focus {
    outline: 0;
}

.ui-helper-hidden-accessible {
    display: none;
}

.ui-widget-content {
    float: left;
}

.ui-widget-content li {
    background-color: #e2e2e2;
    overflow: hidden;
    padding: 10px;
}

.ui-widget-content li:hover {
    background-color: #c8c8c8;
}

#friends_added {
    width: 80%;
    margin-left: 10%;
    color: #e2e2e2;
    text-decoration: none;
    list-style-type: none;
    padding-left: 50px;
}

#friends_added a {
    color: #e2e2e2;
    text-decoration: none;
    font-family: "Montserrat-Hairline", sans-serif;
}

#update {
    width: 80%;
    margin-left: 10%;
    margin-top: 5px;
    background-color: #e1c83d;
    color: #2f2f2f;
    border: none;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 15px;
    cursor: pointer;
}

#update:focus {
    outline: 0 !important;
}

#update:hover {
    background-color: #a3912d;
}

#schedule_view {
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    border-collapse: collapse;;
    border-bottom: 40px solid #2f2f2f;
}

#schedule_view tr {
    background-color: #e2e2e2;
    font-family: "Montserrat-Light", sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
}

#schedule_view td {
    padding: 10px;

}

#day {
    font-family: "Montserrat-Black", sans-serif;
    text-align: center;
    font-size: 30px;
    color: #e1c83d;
    margin: 0;
    width: 200px;
    margin: 0 auto;
}

#date {
    font-family: "Montserrat-Hairline", sans-serif;
    font-size: 12px;
    color: #e1c83d;
    text-align: center;
    width: 200px;
    margin: 0 auto;
}

.triangle_left {
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right:20px solid #e1c83d;
    float: left;
}

.square_left {
    float: left;
    width: 40px;
    height: 40px;
    background-color: #e1c83d;
}

#button_left {
    width: 80px;
    margin-left: 10%;
    float: left;
    margin-top: 5px;
    cursor: pointer;
    cursor: hand;
}

.triangle_right {
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left:20px solid #e1c83d;
    float: right;
}

.square_right {
    float: right;
    width: 40px;
    height: 40px;
    background-color: #e1c83d;
}

#button_right {
    width: 80px;
    margin-right: 10%;
    float: right;
    margin-top: 5px;
    cursor: pointer;
    cursor: hand;
}

#mobile_view {
    display: none;
}

#home_splash {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

#home_splash img {
    display: block;
    width: 40%;
    margin: 0 auto;
    align-self: center;
    display: none;
}


#home_triangle {
    width: 0; 
    height: 0; 
    border-style: solid; 
    border-width: 100vh 99vw 0 0; 
    border-color: #e1c83d transparent transparent transparent;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    display: none;
}

#home_slogan {
    font-size: 24px;
    margin: 0 auto;
    font-family: "Montserrat-Light", sans-serif;
    letter-spacing: 12px;
    width: 100%;
    text-align: center;
    margin-top: -90px;
    color: #2f2f2f;
    display: none;
}

#home_description {
    width: 100%;
    background-color: #2f2f2f;
    background-image: url("images/waterloo_black.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 60px;
    padding-top: 100px;
    padding-bottom: 200px;
}

#home_description p {
    color: #e2e2e2;
    font-family: "Montserrat-Light", sans-serif;
    font-size: 14px;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
    line-height: 150%;
    letter-spacing: 0.1px;
}

#home_tagline {
    font-family: "Montserrat-Hairline", sans-serif;
    font-size: 21px;
    text-align: center;
    background-color: transparent;
    width: 40%;
    letter-spacing: 0px;
    padding-bottom: 10px;
}

.line3 {
    background-color: #e2e2e2;
    width: 15%;
    height: 2px;
    margin-top: 9px;
    margin-left: 30%;
    float: left;
}

.line4 {
    background-color: #e2e2e2;
    width: 15%;
    height: 2px;
    margin-top: 9px;
    margin-right: 30%;
    float: right;
}

#home_signin {
    background-color: transparent;
    margin-top: 30px;
}

#button_container {
    width: 40%;
    margin: 0 auto;
}

#facebook {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}

#my-signin2, .abcRioButtonRed {
       width: 100% !important;
       margin: 0 auto !important;
       margin-top: 10px !important;
}

#signin .line2, #signin h2 {
        display: none;
}

.google_text {
        float: left;
        width: 100%;
}

#compare {
    background-image: url("images/compare_btn.png");
    outline: 0;
    border: 0;
    width: 32vw;
    height: 32vw;
    margin-left: 10%;
    margin-top: 20px;
    background-size: 100%;
    background-color: #e1c83d;
}

#view_friends, #settings, #logout {
    outline: 0;
    border: 0;
    width: 10vw;
    height: 10vw;
    margin-left: 10%;
    margin-top: 20px;
    background-size: 100%;
    background-color: #e1c83d;
    float: left;
    padding: 0;
}

#view_friends {
    background-image: url("images/view_friends_btn.png");
}

#settings {
    background-image: url("images/settings_btn.png");
    margin-left: 1vw;
    margin-top: 1px;
}

#logout {
    background-image: url("images/logout_btn.png");
    margin-left: 0;
    float:right;
    margin-right: 10%;
    margin-top: -18px;
}

#compare:hover, #view_friends:hover, #settings:hover, #logout:hover {
    background-color: #a3912d;
}

.container_main {
    float: left;
    margin-left: 30% !important;
    padding-bottom: 0 !important;
}

@media only screen and (max-width: 1000px) {

    #container {
        width: 100%;
    }

    .container_main {
        margin-left: 0 !important;
    }

    #mobile_view {
        display: none;
    }

    #home_splash img {
        width: 60%;
    }

    #home_slogan {
        font-size: 18px;
    }

    #home_description {
        background-size: 200%;
        padding-top: 150px;
    }

    #home_description p {
        font-size: 14px;
        width: 80%;
    }

    #home_tagline {
        width: 80%;
        font-size: 36px;
    }

    #button_container {
        width: 80%;
        margin-bottom: 150px;
    }

    .line3 {
        width: 25%;
        margin-left: 10%;
        float: left;
        margin-top: 22px;
    }

    .line4 {
        width: 25%;
        margin-right: 10%;
        float: right;
        margin-top: 22px;
    }

    #home_signin {
        font-size: 32px;
        width: 30%;
    }

    #facebook {
        height: 100px;
        background-size: 100px;
        font-size: 32px;
    }

    .google_text {
        font-size: 32px !important;
        margin-top: -65px !important;
    }

    .abcRioButtonRed {
        height: 100px !important;
        background-size: 100px !important;
    }

    #compare {
        width: 80vw;
        height: 80vw;
    }

    #view_friends, #settings, #logout {
        width: 24vw;
        height: 24vw;
    }

    #settings {
        margin-left: 4vw;
    }
}